.container {
	display: flex;
	justify-content: center;
	align-items:center;
	height: 100%;
	width: 100%;
	
	.left-side {
		.logo {
			height: 75px;
			width: 180px;
			background: url('../../../assets/images/clack-logo__small.png') no-repeat center;
			margin: 0 auto;
			background-size: 100%;
		}
		.sign-in-form {
			h2 {
				text-align: center;
			}

			.button-group {
				display: flex;
			    justify-content: center;
			    button {
			    	width: 100%;
			    }
			}
		}

		.login-input {
			width: 250px;
		}
	}

	.ride-side {

	}
}