$primary: #5a62e7;
$gray: #d2c1c1;
$white: #fff;
$success: #0d9e0d;
$error: #ea2c2c;
$warning: yellow;
$background-gray: #f5f4f9;
$sidebar-width: 60px;
$link-gray: #b9adad;
$gray-color: #848484;
$button-bg-gray: #919191;
$dropdown-active: #d6d6d6;