@import "variables";
@import "./utility.scss";
@import "./scroll-bar.scss";
@import "./buttons.scss";
@import "./dropdown.scss";

* {
	box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat' !important;
  src: url('../../assets/fonts/Montserrat-Light.ttf') format('ttf'),
}

body {
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: 0;
	display: block;
    font-size: 15.5px;
}