@import "variables";
@import "./utility.scss";
// @import "font-awesome/scss/font-awesome.scss";

* {
	box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat' !important;
  src: url('../../assets/fonts/Montserrat-Light.ttf') format('ttf'),
}

body {
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: 0;
	display: block;

	#root {
		height: 100%;
		width: 100%;
	}
}