.clack {
    .u-flex {
        display: flex;
    }

    .u-justify-center {
        justify-content: center;
    }

    .u-flex-grow-1 {
        flex-grow: 1;
    }

    .u-align-item-center {
        align-items: center;
    }

    .u-padding {
        padding: 5px 10px;
    }

    .u-padding-bottom {
        padding-bottom: 5px;
    }

    .u-padding-top {
        padding-top: 5px;
    }

    .u-padding-left {
        padding-left: 10px;
    }

    .u-padding-right {
        padding-right: 10px;
    }

    .u-margin {
        margin:5px 10px;
    }
}