.clack {
    .u-flex {
        display: flex;
    }

    .u-justify-center {
        justify-content: center;
    }

    .u-align-item-center {
        align-items: center;
    }

    .u-padding {
        padding: 5px 8px;
    }

    .u-paddingBottom {
        padding-bottom: 5px;
    }

    .u-paddingTop {
        padding-top: 5px;
    }

    .u-paddingLeft {
        padding-left: 8px;
    }

    .u-paddingRight {
        padding-right: 8px;
    }

    .u-margin {
        margin:5px 8px;
    }
}