@import "../../styles/variables";

.chat-wrapper {
    height: 100vh;
}

.chat-left-panel {
    flex: 35%;
    .left-panel-header {
        background: $background-gray;
        border-bottom: 1px solid #8484840d;
        .logo {
			height: 60px;
			width: 60px;
			background: url('../../../assets/images/clack-logo__small.png') no-repeat center;
			margin: 0 auto;
			background-size: 200%;
		}
    }
}

.chat-right-panel {
    flex: 65%;
}

.chat-body {
    min-height: calc(100vh - 122px);
    max-height: calc(100vh - 122px);
    width: 100%;
    overflow: auto;
    margin-bottom: 8px;
    .chat-body-wrapper {
        min-height: 60px;
        width: 100%;
        &.from {
            .chat-message {
                float: right;
                min-height: 60px;
                background: $white;
                min-width: 100px;
                border-bottom-left-radius: 6px;
                border-top-left-radius: 6px;
                border-bottom-right-radius: 6px;
                box-shadow: 0 4px 16px 0 rgba(136, 136, 136, 0.2);
                position: relative;
                margin-right: 12px;
                &:after {
                    content: "";
                    transform: rotate(-45deg);
                    top: -1px;
                    position: absolute;
                    right: -10px;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid $white;
                }
            }
        }
        &.to {
            .chat-message {
                float: left;
                min-height: 60px;
                background: $primary;
                color: $white;
                min-width: 100px;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                border-top-right-radius: 6px;
                box-shadow: 0 4px 16px 0 rgba(136, 136, 136, 0.2);
                position: relative;
                margin-left: 12px;
                &:after {
                    content: "";
                    transform: rotate(45deg);
                    top: -1px;
                    position: absolute;
                    left: -10px;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid $primary;
                }
            }
        }
    }
}